.form {
  margin: 0 auto 90px;
  width: 952px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
}

.circlesContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
  row-gap: 36px;
  column-gap: 12px;
}

.input {
  width: 204px;
}

.button {
  width: 362px;
}
