.form {
    max-width: 829px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.list {
    max-width: 398px;
    gap: 16px;
    width: 100%;
    padding: 0;
    margin: 120px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input_group {
    display: flex;
    flex-direction: row;
    width: 73%;
}