.form {
    max-width: 522px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.list {
    max-width: 1040px;
    gap: 16px;
    width: 100%;
    padding: 0;
    margin: 120px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}